.product {
    background-color: #ddd;
    width: 50vw;
    margin: auto;
}
.list {
    border: peru 1px solid;

    &__item {
        color: black;

        &--active {
            font-size: 2rem;
            &:hover {
                display: none;
            }
        }
        span {
            background-color: yellow;
            color: red;
            font-size: 0.8rem;
        }
    }
}
