[v-cloak] {
    display: none;
}
.tab-content {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

/* 麵包屑組件 */
.breadcrumb {
    padding: 0 0 0 0px;
    background-color: transparent;
    font-size: 0.875rem;
}

.breadcrumb-item > a {
    color: #000;
}