$primary: blue;
$base: 18px;

div {
    background-color: #ccc;
    width: 50vw;
    margin: auto;
    ul {
        border: peru 1px solid;
        li {
            color: $primary;
            span {
                background-color: yellow;
                color: red;
                font-size: $base/2;
            }
        }
    }
}
